<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SaleАВТО</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header-wrapper">
    <header class="header">
        <div class="header_container _container">
            <a href="" class="header_logo">SaleAvto</a>

            <nav class="header_menu menu">
                <ul class="menu_list">
                    <li class="menu_item">
                        <a href="" class="menu_link">Главная</a>
                    </li>
                    <li class="menu_item">
                        <a href="" class="menu_link">Каталог</a>
                    </li>
                    <li class="menu_item">
                        <a href="https://autoset.by/tires/?roistat=google3_g_126732479917_543056179418_%D1%88%D0%B8%D0%BD%D1%8B%20%D0%B4%D0%BB%D1%8F%20%D0%B0%D0%B2%D1%82%D0%BE&roistat_referrer=&roistat_pos=&utm_promo_context&utm_context_phone&gclid=EAIaIQobChMIt7Shub3q-AIVm4xoCR3oUAq8EAAYASAAEgIyMfD_BwE"
                           class="menu_link">Шины</a>
                    </li>
                    <li th:if="${session.LoginStatus!='OK'}" class="menu_item">
                        <a href="/login" class="menu_link">Вход</a>
                    </li>
                    <li th:if="${session.LoginStatus!='OK'}" class="menu_item">
                        <a href="/registration" class="menu_link">Регистрация</a>

                    </li>


                    <a href="/infoUser" class="menu_link">
                        <li th:text="${session.login}" class="menu_item">
                        </li>

                    </a>
                    <li th:if="${session.LoginStatus=='OK'}" class="menu_item">
                        <a href="/logout" class="menu_link">Выход</a>

                    </li>


                    </a>

                </ul>
            </nav>
        </div>
    </header>
</div>
<div class="main-wrapper">
    <div class="page">
        <div class="page_main-block main-block">
            <div class="main-block_container _container">
                <div class="main-block">
                    <h1 class="main-block_title">Продажа и покупка авто</h1>
                    <div class="main-block_text">Ищете Б/У автомобиль, сочетающий в себе комфорт,
                        стиль и производительность нового автомобиля?
                    </div>
                    <div class="main-block_buttons">
                        <a href="#catalog" class="main-block_button">Показать каталог</a>
                        <a href="/promo" class="main-block_buttontwo">Подать объявление</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-block_image _ibg">
            <img src="/assets/img/5db933a1c0633170c27d1a6026031dac.jpg" alt="fonn">
        </div>
    </div>
</div>
<div class="auto-marks" id="catalog">

    <div class=title>
        <h2 class="title-h2">Каталог автопроизводителей</h2>

    </div>

    <div class="marks-items">
        <img src="/assets/img/foto1.png" alt="Фотография 1" width="400" height="450">
        <img src="/assets/img/foto2.png" alt="Фотография 2" width="400" height="450">
        <img src="/assets/img/foto4.png" alt="Фотография 2" width="400" height="450">
    </div>


</div>
<div class="cards-wrapper">
    <div class="title-cards">
        <h2 class="h2-cards">Популярные объявления</h2>
    </div>
    <div class="item" id="item-left">
        <div class="sophia friends-item">
            <div class="go"></div>
            <img class="woody-dog img-cars" src="/assets/img/imgonline-com-ua-Resize-lLf8d0ixgwZ5T.jpg">
            <p class="name">Honda Acord</p>
            <button class="button-friends">Узнать больше</button>
            <div class="go"></div>
        </div>
        <div class="timmy friends-item">
            <div class="go"></div>
            <img class="woody-dog img-cars" src="/assets/img/imgonline-com-ua-Resize-pTDlHgOzTLoXjk0.jpg">
            <p class="name">Toyota supra</p>
            <button class="button-friends">Узнать больше</button>
            <div class="go"></div>
        </div>
        <div class="charly friends-item">
            <div class="go"></div>
            <img class="woody-dog img-cars" src="/assets/img/imgonline-com-ua-Resize-lLf8d0ixgwZ5T.jpg">
            <p class="name">BMW M5</p>
            <button class="button-friends">Узнать больше</button>
            <div class="go"></div>
        </div>
    </div>
</body>
<footer id="footer">
    <div class="wrapper wrapper--footer">
        <div class="footer__content">
            <div class="footer__container footer__container--contacts">
                <h3 class="section__heading section__heading--footer">
                    Для вопросов<br> и предложений
                </h3>
                <a href="https://www.google.com/intl/ru/gmail/about/" class="footer__link footer__link--email">
                    <img src="/assets/img/icon-email.svg" alt="mail_ico">
                    saleavto@gmail.com
                </a>
                <a href="tel:+13 674 567 75 54" class="footer__link footer__link-tell">
                    <img src="/assets/img/icon-phone.svg" alt="phone_ico">
                    <div class="number">+375 29 369 49 14</div>
                </a>
            </div>

            <div class="footer__container footer__container--location">
                <h3 class="section__heading section__heading--footer">
                    Все авто <br>в нашем салоне
                </h3>
                <a href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%B9+10,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA/@53.8537636,27.6402944,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbd2044b00e9f1:0xcf1f5d22ea8face2!8m2!3d53.8537605!4d27.6424831"
                   class="footer__link" target="_blank" id="first-link">
                    <img src="/assets/img/pin.svg" alt="pin_ico">
                    Машиностроителей 10 , Минск<br> (Главный офис продаж)
                </a>
            </div>
        </div>
    </div>
</footer>

</html>