<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	<link rel="stylesheet" href="/assets/login/css/logincss.css">

</head>
<body>
<div th:switch="${loginForm}">
	<p th:case="LOGIN_EXISTS">Login is used</p>
	<p th:case="'EMAIL_EXISTS'">Email is used</p>
</div>
	<form class="form" method="POST" th:action="@{/login}" th:object="${loginForm}">
		<h1>Вход</h1>
		<div th:unles ="${session.LoginStatus=='OK'}"class="input-form">
			<input name="login"  th:field="*{login}" type="text" placeholder="Логин">
		</div>
		<div class="input-form">
			<input name="password" th:field="*{password}" type="password" placeholder="Пароль">
		</div>
		<div class="input-form" >
			<button type="submit" >Вход</button>

</div>
		<a href="#" class="forget" >Забыли пароль?</a>
	</form>

</body>

</html>