<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>новая почта</title>
  <link rel="stylesheet" href="/assets/newInf/newInf.css">
</head>
<body>
<form th:action="@{/setEmail}"  th:method="POST" >
  <h4>Изменение Почты Пользователя  </h4>
  <label>Новая Почта:</label>
  <input type="text" th:value="${setNewEmail}"   name="setNewEmail"></input>
  <button  type="submit">Изменить Почту </button>
</form>
</body>
</html>