<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>новый Логин</title>
  <link rel="stylesheet" href="/assets/newInf/newInf.css">
</head>
<body>
<form th:action="@{/setPassword}"  th:method="POST">
  <h4>Изменение Пароля Пользователя  </h4>
  <label>Новый Пароль:</label>
  <input type="text" th:value="${setNewPassword}"  name="setNewPassword"></input>
  <button  type="submit">Изменить Пароль </button>
</form>
</body>
</html>