<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/assets/ UserAccount/account.css">
</head>
<body>
<div th:switch="${infoUser}">
    <p th:case="LOGIN_EXISTS">Login is used</p>
    <p th:case="'EMAIL_EXISTS'">Email is used</p>
</div>
<form th:action="@{/infoUser}" th:object="${infoUser}" th:method="POST">
    <h4>Информация о пользователе</h4>
    <div class="group">
        <label>Полное имя:</label>
        <input type="text" th:field="*{name}" name="name">
    </div>
    <div class="group">
        <label>Фамилия:</label>
        <input type="text" th:field="*{surname}" name="surname">
    </div>
    <div class="group">
        <label>Страна:</label>
        <input type="text" th:field="*{country}" name="country">
    </div>
    <div class="group">
        <label>Город:</label>
        <input type="text" th:field="*{city}" name="city">
    </div>
    <div class="group">
        <label>Телефон:</label>
        <input type="number" th:field="*{phone}" name="phone">
    </div>
    <div class="group">
        <label>Пол:</label>
        <input type="text" th:field="*{gender}" name="gender">
    </div>
    <div class="group">
        <label>Возраст:</label>
        <input type="number" th:field="*{age}" name="age">
    </div>
    <div class="group">
        <button type="submit">Отправить</button>
    </div>
    </div>

</form>


    <div class="group1">
        <button id="login"  type="submit"><a href="/setLogin">Изменить Логин</a> </button>
    </div>
<div class="group1">
    <button id="password"  type="submit"><a href="/setPassword">Изменить пароль</a> </button>
</div>
<div class="group1">
    <button id="mail"  type="submit"><a href="/setEmail">Изменить почту</a> </button>
</div>
<form id="inf">
    <h4>Актуальные данные пользователя </h4>

    <div class="group">
        <label>Логин:</label>
        <output type="text"  name="log"><p th:text="${session.login}"></p></output>
    </div>
    <div class="group">
        <label>Почта:</label>
        <output type="text"  name="mail"><p th:text="${email}"></p></output>
    </div>

</form>
<form id="prom">
    <h4>Ваши Объявление</h4>

    <div class="group">
        <label>На продажу:<em th:text="${mount}" ></em></label>
        <output type="text"  name="log"></output>
    </div>
    <a href="/declaration" class="main-block_buttonone">Ваши объявление</a>
    <a href="/promo" class="main-block_buttontwo">Подать объявление</a>
</form>
</body>
</html>